on fs
    rm /cache/boot_log.txt
    rm /cache/boot_dmesg.txt
    start boot_log
    start boot_dmesg

on property:sys.boot_completed=1
    stop boot_log
    stop boot_dmesg

service boot_log /system/bin/logcat -f /cache/boot_log.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_dmesg /system/bin/sh -c "dmesg -w > /cache/boot_dmesg.txt"
    class main
    user root
    group root system
    disabled
    oneshot
